    <footer class="mt-auto bg-white pt-4">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col">
                    <h5 class="text-uppercase">{{ site.title | escape }}</h5>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col">
                    <h5>Privacy & Terms</h5>
                    <ul class="list-unstyled">
                        <li><a href="">DMCA</a></li>
                        <li><a href="">Privacy</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Links</h5>
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center py-3"> © Copyright : <a target="_blank" rel="noopener" href="{{site.url}}"> {{site.url}}</a></div>
    </footer>
    <script async="" src="{{site.url}}/js/app.js"></script>
    <script type="text/javascript">
    if (window.location.hostname.indexOf('firebaseapp.com') !== -1 ) {
        location.replace("{{ site.url }}");
    }
    document.addEventListener("DOMContentLoaded", function(event) {
        document.querySelectorAll('img').forEach(function(img){
        img.onerror = function(){this.src='https://lh3.googleusercontent.com/ULB6iBuCeTVvSjjjU1A-O8e9ZpVba6uvyhtiWRti_rBAs9yMYOFBujxriJRZ-A=w1200';};
        })
    });
    </script>
